@import "custom";
@import "~bootstrap/scss/bootstrap";

$icon-font-path: '../../node_modules/open-iconic/font/fonts/';
@import "~open-iconic/font/css/open-iconic-bootstrap";
@import "mixins";

* {
  z-index: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: white url("../asset/bg.png") repeat;
}

#add-button {
  position: absolute;
  right: 3px;
  bottom: 3px;
}

#todo-list-container {
  width: 80%;
  margin: auto;
  z-index: 1 !important;

  > .todo-list-inner-container {
    display: inline-block;
    z-index: 1 !important;
    width: 30%;
    margin-right: 4%;

    .card-body {
      min-height: 200px;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }

    .todo-tile {
      @include tile(30%, 3);
    }
  }
}

#new-todo-list {
  .todo-tile {
    box-sizing: border-box;
    @include tile(22%, 4);

    &.selected {
      border: 2px solid $secondary !important;
    }
  }
}